
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Animals</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
<h1>All the Animals at Animal Shelter</h1>


@model AnimalShelter.Models.Animal

<h2>Details of Animals</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)<h3>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)<h3>
<h3>@Html.DisplayNameFor(model => model.AdmittanceDate): @Html.DisplayFor(model => model.AdmittanceDate)<h3>
<h3>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)<h3>
<p>@Html.ActionLink("Back to list", "Index")</p>

<a href='/animals/Create'>Add another Animal</a>
<a href='/animals'>View all Animals</a>
</div>
</body>
</html>